{% extends 'layout.html.twig' %}

{% block body %}

<div id="all-posts">


      <div class="single-post clearfix">
        <div class="excerpt">
          <div class="title">
            <a href="{{path('bp_blog_article1')}}">
             Symfony from scratch | C'est quoi symfony ?
            </a>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="date">
                <time datetime="2011-01-12">January 12th, 2011</time>
          </div>
        </div>
      </div>


      <div class="single-post clearfix">
        <div class="excerpt">
          <div class="title">
            <a href="{{path('bp_blog_article2')}}">
             Symfony from scratch | Comprendre Symfony
            </a>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="date">
                <time datetime="2011-01-12">January 15th, 2012</time>
          </div>
        </div>
      </div>

      <div class="single-post clearfix">
        <div class="excerpt">
          <div class="title">
            <a href="{{path('bp_blog_article3')}}">
             Symfony from scratch | le fonctionnement du symfony
            </a>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="date">
                <time datetime="2011-01-12">January 15th, 2011</time>
          </div>
        </div>
      </div>


</div>
{% endblock %}