{% extends 'layout.html.twig' %}

{% block body %}

<div class="titre">
    <h1>Hello !</h1>
 </div>

 <div class="published">
      <span>
       Je conçois , je développe et je deploie des applications web
      </span>
  </div>
   <div class="content">

    <p>I am currently the Lead Backend developer at Drivy, a startup creating the leading european peer to peer car rental website. Before that I worked both in France and the US for various startups, agencies or larger companies.
      </p>
      <p>
        The rest of my time is spent giving classes (at HEC, HETIC, Learn Assembly, FACE and more), talking in meetups, contribute to open source , helping entrepreneurs start their projects or working on side projects such as Liff, a quantified self app to track your day in a relevant way.
      </p>
      <p>
        You can reach me via @marcgg on Twitter, my LinkedIn account or my email "marcg.gauthier-at-gmail-dot-com". If you want to hire me, go check out this page before contacting me.
      </p>
       <div class="footnote">
    Nadia-
  </div>
       <div class="bottom-footer"></div>
       <div class="footer">
Website powered by <span class="herf-footer"><a href="">Me</a> </span>, hosted on  <span class="herf-footer"><a href="https://github.com/nadiabarache?tab=repositories"  target="_blank">Github</a> </span> and put again by @Me.
All of the<span class="herf-footer"><a href="" >blog's articles </a> are under Creative commons license
</div>
</div>


</main>

{% endblock %}